* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

//colors

$red: #b23a48;
$blue: #f1f1f1;
$pink: #7f95a8;

.header {
  color: whitesmoke;
  display: flex;
  align-items: center;
  height: 8vh;
  background-color: $pink;
  padding: 0 100px;

  img {
    width: 50px;
    margin-right: 10px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  p {
    font-family: "Satisfy", cursive;
    font-size: 15px;
  }
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: $blue;
  padding: 0 100px;

  .search-term-input {
    height: 45px;
    margin-right: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
  }

  .keywords {
    margin-right: 20px;
    width: 200px;
  }

  .packs {
    width: 80px;
  }

  button {
    color: whitesmoke;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: $pink;
    transition: 300ms;
    margin-right: 20px;

    &:hover {
      background-color: $red;
      cursor: pointer;
      transform: translateY(-5px);
    }
  }

  .copy {
    color: rgb(175, 37, 37) !important;

    background-color: white !important;

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }
  }
}

.main {
  background-color: $blue;
  height: 82vh;
  font-size: 20px;
  line-height: 2;
  padding: 0 300px;
  text-align: center;
}

.packOverlay {
  position: fixed;
  background-color: $blue;
  display: none;
  height: 100vh;
  width: 15vw;
  right: 0;
  border-left: 1px solid $pink;

  .pack-overlay-desc {
    width: 80%;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .packOverlay__header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;

    .exit-overlay {
      transition: 300ms;
      &:hover {
        cursor: pointer;
        color: $red;
        transform: scale(1.3);
      }
    }
  }

  .deals {
    color: white;
    background-color: $pink;
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    transition: 300ms;
    &:hover {
      background-color: $red;
      color: whitesmoke;
      cursor: pointer;
      border-radius: 25px;
    }
  }

  .locations {
    width: 80%;
    height: 50px;
    color: white;
    background-color: $pink;
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    transition: 300ms;
    &:hover {
      background-color: $red;
      color: whitesmoke;
      cursor: pointer;
      border-radius: 25px;
    }
  }

  .electricalStores {
    width: 80%;
    height: 50px;
    color: white;
    background-color: $pink;
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    transition: 300ms;
    &:hover {
      background-color: $red;
      color: whitesmoke;
      cursor: pointer;
      border-radius: 25px;
    }
  }
}

.packOverlayShow {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fade-in 700ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
  }
}
