* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  background-color: #7f95a8;
  padding: 0 100px;
}

.header img {
  width: 50px;
  margin-right: 10px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.header p {
  font-family: "Satisfy", cursive;
  font-size: 15px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  background-color: #f1f1f1;
  padding: 0 100px;
}

.inputs input {
  height: 45px;
  margin-right: 20px;
  padding-left: 10px;
  border: none;
  outline: none;
}

.inputs .keywords {
  margin-right: 20px;
  width: 200px;
}

.inputs .keywords select {
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
}

.inputs .no-keyword {
  color: rgba(255, 255, 255, 0.205);
}

.inputs button {
  color: whitesmoke;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #7f95a8;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-right: 20px;
}

.inputs button:hover {
  background-color: #b23a48;
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.copy {
  color: #af2525 !important;
  background-color: white !important;
}

.copy:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.packOverlay {
  position: fixed;
  background-color: #f1f1f1;
  display: none;
  height: 100vh;
  width: 15vw;
  right: 0;
  border-left: 1px solid #7f95a8;
}

.packOverlayShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fade-in 700ms ease-in-out;
          animation: fade-in 700ms ease-in-out;
}

.packOverlayShow .packOverlay__header {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8vh;
}

.packOverlayShow .packOverlay__header .exit-overlay {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.packOverlayShow .packOverlay__header .exit-overlay:hover {
  cursor: pointer;
  color: #b23a48;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.packOverlayShow .deals {
  color: white;
  background-color: #7f95a8;
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.packOverlayShow .deals:hover {
  background-color: #b23a48;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 25px;
}

.packOverlayShow .locations {
  width: 80%;
  height: 50px;
  color: white;
  background-color: #7f95a8;
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.packOverlayShow .locations:hover {
  background-color: #b23a48;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 25px;
}

.main {
  background-color: #f1f1f1;
  height: 82vh;
  line-height: 2;
  padding: 0 300px;
  text-align: center;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */